---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';

const { slug } = Astro.params;
const posts = await getCollection('blog');
const post = posts.find(p => p.slug === slug);

if (!post) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found'
  });
}
---

<Layout>
  <article>
    <header>
      <h1>{post.data.title}</h1>
      <p>{post.data.description}</p>
      <time datetime={post.data.pubDate.toISOString()}>
        {post.data.pubDate.toDateString()}
      </time>
      {post.data.heroImage && (
        <Image
          src="../assets/blog/hero.jpg"
          alt={post.data.title}
          width={960}
          height={960}
        />
      )}
    </header>
    <p>{post.data.description}</p>
  </article>
</Layout>