---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/Footer.astro'; // Import the Footer component
import { Image } from 'astro:assets';

const posts = await getCollection('blog');
const sortedPosts = posts
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout>
  <main>
    <h1>Blog</h1>
    <div class="blog-grid">
      {sortedPosts.map((post) => (
        <article class="blog-card">
          <a href={`/blog/${post.slug}`}>
            <h3>{post.data.title}</h3>
            <p>{post.data.description}</p>
            {post.data.heroImage && (
              <Image
                src={post.data.heroImage}
                alt={post.data.title}
                width={960}
                height={960}
              />
            )}
          </a>
        </article>
      ))}
    </div>
  </main>
  <Footer />
</Layout>